@{
    ViewBag.Title = "News 24";
}

@if (User.Identity.IsAuthenticated)
{
	using (Html.BeginForm())
	{
		<label class="col-md-1 control-label">Select Source:</label>
		<div class="col-md-3">
			@Html.DropDownList("source", (IEnumerable<SelectListItem>)ViewBag.listSource, new { @class = "form-control",
	 name = "source" })
		</div>
		<div class="col-md-1">
			<input type="submit" value="Select" class="btn btn-default" />
		</div>
	}
} else
{
	<h3 style="text-align: center">Please log in to see the news.</h3>
}